.root {
  padding: var(--sp-5) var(--sp-6) 40px;
  max-width: 1120px;
}

.centered {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .root {
    padding: var(--sp-4);
  }
}
